/* Responsive Sizes */
/* 
 * -----------------------------------------
 * Base colors
 * -----------------------------------------
 */
.btn {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/*
@import "../vendor/animate-sass/animate";

.animated {
    @include animate-prefixer(animation-duration, $base-duration);
    @include animate-prefixer(animation-fill-mode, both);

    &.hinge {
        @include animate-prefixer(animation-duration, $base-duration * 2);
    }
}
*/
/* 
 * -----------------------------------------
 * Color elements
 * -----------------------------------------
 */
/* background */
.color-base {
  background-color: #616161;
}

.color-base-dark {
  background-color: #484848;
}

.color-base-light {
  background-color: #c7c7c7;
}

.color-accent {
  background-color: #313131;
}

.color-base-child {
  background-color: white;
}

/* text */
.color-text-base {
  color: #616161;
}

.color-text-base-dark {
  color: #484848;
}

.color-text-base-light {
  color: #c7c7c7;
}

.color-text-accent {
  color: #313131;
}

.color-text-base-child {
  color: white;
}
.color-text-base-child a {
  color: white;
}
.color-text-base-child small {
  color: #c7c7c7;
}

.color-text-primary {
  color: #212121;
}

.color-text-secondary {
  color: #727272;
}

.color-divider {
  color: #b6b6b6;
}

/* Specific elements */
.color-overlay {
  /*display: table;
  width: 100%;*/
  background-color: rgba(97, 97, 97, 0.75);
}

.color-overlay-dark {
  /*display: table;
  width: 100%;*/
  background-color: rgba(72, 72, 72, 0.75);
}

.color-overlay-light {
  /*display: table;
  width: 100%;*/
  background-color: rgba(199, 199, 199, 0.75);
}

/* Default */
.web-block {
  padding: 25px 0 40px 0;
}

.web-block-slim {
  padding: 0;
}

/* 
 * -----------------------------------------
 * Editor Classes
 * -----------------------------------------
 */
.bg-img-editable {
  background-size: cover;
  background-position: center;
}

.bg-color-editable {
  /*background-color:rgba(255,255,255,0.5);*/
}

.bg-color-start-white {
  background-color: rgba(255, 255, 255, 0.5);
}

.bg-color-start-base {
  background-color: rgba(97, 97, 97, 0.9);
}

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .web-block {
    padding: 50px 0 60px 0;
  }

  .web-block-slim {
    padding: 0;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .web-block {
    padding: 60px 0 70px 0;
  }

  .web-block-slim {
    padding: 0;
  }
}
/* 
 * -----------------------------------------
 * General
 * -----------------------------------------
 */
html,
body {
  height: 100%;
}

/* 
 * -----------------------------------------
 * Helper classes
 * -----------------------------------------
 */
.xs-hide {
  display: none;
}

.xs-show {
  display: initial;
}

.height-25-perc,
.height-xs-25-perc {
  height: 25%;
}

.height-33-perc,
.height-xs-33-perc {
  height: 33.33%;
}

.height-50-perc,
.height-xs-50-perc {
  height: 50%;
}

.full-height,
.full-xs-height {
  height: 100%;
  /* overflow: hidden; */
  /*display: table;
  width: 100%;
  min-height: 100%;*/
}

.auto-height,
.auto-xs-height {
  height: auto;
}

.full-width {
  width: 100%;
}

.square,
.square:visited,
.square:hover,
.square:focus {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.mwp-fb-hidden-value {
  display: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .sm-hide {
    display: none;
  }

  .sm-show {
    display: initial;
  }

  .height-sm-25-perc {
    height: 25%;
  }

  .height-sm-33-perc {
    height: 33.33%;
  }

  .height-sm-50-perc {
    height: 50%;
  }

  .full-sm-height {
    height: 100%;
  }

  .auto-sm-height {
    height: auto;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .md-hide {
    display: none;
  }

  .md-show {
    display: initial;
  }

  .height-md-25-perc {
    height: 25%;
  }

  .height-md-33-perc {
    height: 33.33%;
  }

  .height-md-50-perc {
    height: 50%;
  }

  .full-md-height {
    height: 100%;
  }

  .auto-md-height {
    height: auto;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .lg-hide {
    display: none;
  }

  .lg-show {
    display: initial;
  }

  .height-lg-25-perc {
    height: 25%;
  }

  .height-lg-33-perc {
    height: 33.33%;
  }

  .height-lg-50-perc {
    height: 50%;
  }

  .full-lg-height {
    height: 100%;
  }

  .auto-lg-height {
    height: auto;
  }
}
/* 
 * -----------------------------------------
 * Text
 * -----------------------------------------
 */
.color-text-base-child,
.color-text-base-child i,
.color-text-base-child h2 small,
.color-text-base-child a {
  /*color: $color-text-base-child;*/
}

.text-dark,
.text-dark i {
  /*color: $text-dark;*/
}

.text-right,
.text-xs-right {
  text-align: right;
}

.text-left,
.text-xs-left {
  text-align: left;
}

.text-center,
.text-xs-center {
  text-align: center;
}

.text-grey {
  /*color: $text-foggy;*/
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .text-sm-right {
    text-align: right;
  }

  .text-sm-left {
    text-align: left;
  }

  .text-sm-center {
    text-align: center;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .text-md-right {
    text-align: right;
  }

  .text-md-left {
    text-align: left;
  }

  .text-md-center {
    text-align: center;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 27px;
  }

  h4 {
    font-size: 21px;
  }

  h5 {
    font-size: 16px;
  }

  p, address {
    font-size: 16px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  .text-lg-right {
    text-align: right;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-center {
    text-align: center;
  }

  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 29px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 16px;
  }

  p, address {
    font-size: 16px;
  }
}
/* 
 * -----------------------------------------
 * Buttons
 * -----------------------------------------
 */
.btn-ghost,
.btn-ghost:visited,
.btn-ghost:focus,
.btn-ghost-header,
.btn-ghost-header:visited,
.btn-ghost-header:focus {
  border: 1px solid #fff;
  color: #fff;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.btn-ghost:hover {
  outline: 2px solid #fff;
  border: 1px solid transparent;
  color: #fff;
    /*@include bounceIn(
		$duration: 0.8s,
		$count: 1,
		$delay: 0.1s,
		$function: ease, 
		$fill: both
	);*/
}

.btn-ghost-header {
  background-color: rgba(0, 0, 0, 0.2);
  border-width: 3px;
  font-size: 26px;
  padding: 9px 22px;
}

.btn-ghost-header:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .btn-ghost-header {
    font-size: 45px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .btn-ghost-header {
    font-size: 50px;
  }
}
/* large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .btn-ghost-header {
    font-size: 50px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .btn-ghost-header {
    font-size: 60px;
    padding: 11px 37px;
  }
}
/* 
 * -----------------------------------------
 * Extend bootstrap buttons
 * -----------------------------------------
 */
.btn-yellow {
  background: #faff8c;
  color: #574500;
  border: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  /* !important tags aren't necessarily always bad */
}

.btn-yellow:hover, .btn-yellow:focus {
  background: #fcffb3;
}

.btn-yellow:active {
  background: #f7ff47;
}

.btn-transparent {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  /* !important tags aren't necessarily always bad */
}

.btn-transparent:hover, .btn-transparent:focus {
  background: rgba(255, 255, 255, 0.3);
  color: white;
}

/* 
 * -----------------------------------------
 * Extra button sizes
 * -----------------------------------------
 */
.btn-xl {
  padding: 12px 18px;
  font-size: 24px;
  border-radius: 4px;
}

.btn-xxl {
  padding: 20px 26px;
  font-size: 35px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .btn-xl {
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 3px;
  }

  .btn-xxl {
    padding: 12px 18px;
    font-size: 24px;
    border-radius: 4px;
  }
}
/* 
 * -----------------------------------------
 * display type
 * -----------------------------------------
 */
.btn-xs-inline-block {
  display: inline-block;
  width: auto;
}

.btn-xs-block {
  display: block;
  width: 100%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .btn-sm-inline-block {
    display: inline-block;
    width: auto;
  }

  .btn-sm-block {
    display: block;
    width: 100%;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .btn-md-inline-block {
    display: inline-block;
    width: auto;
  }

  .btn-md-block {
    display: block;
    width: 100%;
  }
}
/* Medium devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
  .btn-lg-inline-block {
    display: inline-block;
    width: auto;
  }

  .btn-lg-block {
    display: block;
    width: 100%;
  }
}
/* 
 * -----------------------------------------
 * Font icon sizes
 * -----------------------------------------
 */
.icon-l,
.icon-xl,
.icon-xxl {
  display: inline-block;
  margin: 5px 0 5px 5px;
}

.icon-l {
  font-size: 30px;
}

.icon-circle i.icon-l {
  padding: 10px;
}

.icon-xl {
  font-size: 34px;
}

.icon-circle i.icon-xl {
  padding: 15px;
}

.icon-xxl {
  font-size: 48px;
}

.icon-circle i.icon-xxl {
  padding: 20px;
}

.icon-size-xs-20 {
  font-size: 20px;
}

.icon-size-xs-40 {
  font-size: 40px;
}

.icon-size-xs-60 {
  font-size: 60px;
}

.icon-size-xs-80 {
  font-size: 80px;
}

.icon-size-xs-100 {
  font-size: 100px;
}

.icon-size-xs-120 {
  font-size: 120px;
}

.icon-size-xs-140 {
  font-size: 140px;
}

@media (min-width: 768px) {
  .icon-l {
    font-size: 20px;
  }

  .icon-xl {
    font-size: 24px;
  }

  .icon-xxl {
    font-size: 30px;
  }

  .icon-size-sm-10 {
    font-size: 10px;
  }

  .icon-size-sm-20 {
    font-size: 20px;
  }

  .icon-size-sm-30 {
    font-size: 30px;
  }

  .icon-size-sm-40 {
    font-size: 40px;
  }

  .icon-size-sm-50 {
    font-size: 50px;
  }

  .icon-size-sm-60 {
    font-size: 60px;
  }

  .icon-size-sm-70 {
    font-size: 70px;
  }
}
@media (min-width: 992px) {
  .icon-l {
    font-size: 24px;
  }

  .icon-xl {
    font-size: 30px;
  }

  .icon-xxl {
    font-size: 34px;
  }

  .icon-size-md-10 {
    font-size: 10px;
  }

  .icon-size-md-20 {
    font-size: 20px;
  }

  .icon-size-md-30 {
    font-size: 30px;
  }

  .icon-size-md-40 {
    font-size: 40px;
  }

  .icon-size-md-50 {
    font-size: 50px;
  }

  .icon-size-md-60 {
    font-size: 60px;
  }

  .icon-size-md-70 {
    font-size: 70px;
  }
}
@media (min-width: 1200px) {
  .icon-l {
    font-size: 30px;
  }

  .icon-xl {
    font-size: 34px;
  }

  .icon-xxl {
    font-size: 48px;
  }

  .icon-size-lg-10 {
    font-size: 10px;
  }

  .icon-size-lg-20 {
    font-size: 20px;
  }

  .icon-size-lg-30 {
    font-size: 30px;
  }

  .icon-size-lg-40 {
    font-size: 40px;
  }

  .icon-size-lg-50 {
    font-size: 50px;
  }

  .icon-size-lg-60 {
    font-size: 60px;
  }

  .icon-size-lg-70 {
    font-size: 70px;
  }
}
.icon-btn,
.icon-btn:visited,
.icon-btn:hover,
.icon-btn:active {
  text-decoration: none;
}

.icon-circle i {
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.color-text-base-child .icon-circle i,
.text-dark .icon-circle:hover i {
  background-color: #fff;
  color: #222;
}

.text-dark .icon-circle i,
.color-text-base-child .icon-circle:hover i {
  background-color: #222;
  color: #fff;
}

/* 
 * -----------------------------------------
 * Images
 * -----------------------------------------
 */
.img-resp {
  max-width: 100%;
}

.image-cover {
  /*    background: $background-image-cover;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.image-cover-focuspoint-right {
  /*    background: $background-image-right-view 80% center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .image-cover-focuspoint-right {
    background-position: center center;
  }
}
/* 
 * -----------------------------------------
 * Bootstrap carousel
 * -----------------------------------------
 */
.carousel .item.fullheight {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* 
 * -----------------------------------------
 * CTA
 * -----------------------------------------
 */
section.button-01 a:hover {
  /*@include tada();*/
}

/* 
 * -----------------------------------------
 * Nav
 * -----------------------------------------
 */
.nav-links a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  /*color: map-get($color-dark, "lighter");*/
  margin: 10px 10px 10px 0;
}
.nav-links a:last-child {
  margin-right: 0;
}

.color-text-base-child .nav-links a {
  /*color: $color-text-base-child;*/
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .nav-links a {
    margin-right: 20px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .nav-links a {
    margin-right: 30px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .nav-links a {
    margin-right: 60px;
  }
}
/* 
 * -----------------------------------------
 * Footer
 * -----------------------------------------
 */
.footer-links a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  /*color: map-get($color-dark, "lighter");*/
  margin: 10px 10px 10px 0;
}
.footer-links a:last-child {
  margin-right: 0;
}

.color-text-base-child .footer-links a {
  /*color: $color-text-base-child;*/
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .footer-links a {
    margin-right: 20px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .footer-links a {
    margin-right: 30px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .footer-links a {
    margin-right: 60px;
  }
}
/*@import 'plans';*/
/* 
 * -----------------------------------------
 * Bootstrap extension
 * Add class of vert-offset-top-value or vert-offset-bottom-value to default rows to prevent row content from touching the row content above or below.
 * -----------------------------------------
 */
/* Offset top */
.top-xs-offset-0 {
  margin-top: 0em;
}

.top-xs-offset-1 {
  margin-top: 0.2em;
}

.top-xs-offset-2 {
  margin-top: 0.4em;
}

.top-xs-offset-3 {
  margin-top: 0.6em;
}

.top-xs-offset-4 {
  margin-top: 0.8em;
}

.top-xs-offset-5 {
  margin-top: 1em;
}

.top-xs-offset-6 {
  margin-top: 1.2em;
}

.top-xs-offset-7 {
  margin-top: 1.4em;
}

.top-xs-offset-8 {
  margin-top: 1.6em;
}

.top-xs-offset-9 {
  margin-top: 1.8em;
}

.top-xs-offset-10 {
  margin-top: 2em;
}

.top-xs-offset-11 {
  margin-top: 2.2em;
}

.top-xs-offset-12 {
  margin-top: 2.4em;
}

/* Offset Bottom */
.bottom-xs-offset-0 {
  margin-bottom: 0em;
}

.bottom-xs-offset-1 {
  margin-bottom: 0.2em;
}

.bottom-xs-offset-2 {
  margin-bottom: 0.4em;
}

.bottom-xs-offset-3 {
  margin-bottom: 0.6em;
}

.bottom-xs-offset-4 {
  margin-bottom: 0.8em;
}

.bottom-xs-offset-5 {
  margin-bottom: 1em;
}

.bottom-xs-offset-6 {
  margin-bottom: 1.2em;
}

.bottom-xs-offset-7 {
  margin-bottom: 1.4em;
}

.bottom-xs-offset-8 {
  margin-bottom: 1.6em;
}

.bottom-xs-offset-9 {
  margin-bottom: 1.8em;
}

.bottom-xs-offset-10 {
  margin-bottom: 2em;
}

.bottom-xs-offset-11 {
  margin-bottom: 2.2em;
}

.bottom-xs-offset-12 {
  margin-bottom: 2.4em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* xs */
  .top-xs-offset-0 {
    margin-top: 0em;
  }

  .bottom-xs-offset-0 {
    margin-bottom: 0em;
  }

  .top-xs-offset-1 {
    margin-top: 0.4em;
  }

  .bottom-xs-offset-1 {
    margin-bottom: 0.4em;
  }

  .top-xs-offset-2 {
    margin-top: 0.8em;
  }

  .bottom-xs-offset-2 {
    margin-bottom: 0.8em;
  }

  .top-xs-offset-3 {
    margin-top: 1.2em;
  }

  .bottom-xs-offset-3 {
    margin-bottom: 1.2em;
  }

  .top-xs-offset-4 {
    margin-top: 1.6em;
  }

  .bottom-xs-offset-4 {
    margin-bottom: 1.6em;
  }

  .top-xs-offset-5 {
    margin-top: 2em;
  }

  .bottom-xs-offset-5 {
    margin-bottom: 2em;
  }

  .top-xs-offset-6 {
    margin-top: 2.4em;
  }

  .bottom-xs-offset-6 {
    margin-bottom: 2.4em;
  }

  .top-xs-offset-7 {
    margin-top: 2.8em;
  }

  .bottom-xs-offset-7 {
    margin-bottom: 2.8em;
  }

  .top-xs-offset-8 {
    margin-top: 3.2em;
  }

  .bottom-xs-offset-8 {
    margin-bottom: 3.2em;
  }

  .top-xs-offset-9 {
    margin-top: 3.6em;
  }

  .bottom-xs-offset-9 {
    margin-bottom: 3.6em;
  }

  .top-xs-offset-10 {
    margin-top: 4em;
  }

  .bottom-xs-offset-10 {
    margin-bottom: 4em;
  }

  .top-xs-offset-11 {
    margin-top: 4.4em;
  }

  .bottom-xs-offset-11 {
    margin-bottom: 4.4em;
  }

  .top-xs-offset-12 {
    margin-top: 4.8em;
  }

  .bottom-xs-offset-12 {
    margin-bottom: 4.8em;
  }

  /* sm */
  .top-sm-offset-0 {
    margin-top: 0em;
  }

  .bottom-sm-offset-0 {
    margin-bottom: 0em;
  }

  .top-sm-offset-1 {
    margin-top: 0.4em;
  }

  .bottom-sm-offset-1 {
    margin-bottom: 0.4em;
  }

  .top-sm-offset-2 {
    margin-top: 0.8em;
  }

  .bottom-sm-offset-2 {
    margin-bottom: 0.8em;
  }

  .top-sm-offset-3 {
    margin-top: 1.2em;
  }

  .bottom-sm-offset-3 {
    margin-bottom: 1.2em;
  }

  .top-sm-offset-4 {
    margin-top: 1.6em;
  }

  .bottom-sm-offset-4 {
    margin-bottom: 1.6em;
  }

  .top-sm-offset-5 {
    margin-top: 2em;
  }

  .bottom-sm-offset-5 {
    margin-bottom: 2em;
  }

  .top-sm-offset-6 {
    margin-top: 2.4em;
  }

  .bottom-sm-offset-6 {
    margin-bottom: 2.4em;
  }

  .top-sm-offset-7 {
    margin-top: 2.8em;
  }

  .bottom-sm-offset-7 {
    margin-bottom: 2.8em;
  }

  .top-sm-offset-8 {
    margin-top: 3.2em;
  }

  .bottom-sm-offset-8 {
    margin-bottom: 3.2em;
  }

  .top-sm-offset-9 {
    margin-top: 3.6em;
  }

  .bottom-sm-offset-9 {
    margin-bottom: 3.6em;
  }

  .top-sm-offset-10 {
    margin-top: 4em;
  }

  .bottom-sm-offset-10 {
    margin-bottom: 4em;
  }

  .top-sm-offset-11 {
    margin-top: 4.4em;
  }

  .bottom-sm-offset-11 {
    margin-bottom: 4.4em;
  }

  .top-sm-offset-12 {
    margin-top: 4.8em;
  }

  .bottom-sm-offset-12 {
    margin-bottom: 4.8em;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* xs */
  .top-xs-offset-0 {
    margin-top: 0em;
  }

  .bottom-xs-offset-0 {
    margin-bottom: 0em;
  }

  .top-xs-offset-1 {
    margin-top: 0.7em;
  }

  .bottom-xs-offset-1 {
    margin-bottom: 0.7em;
  }

  .top-xs-offset-2 {
    margin-top: 1.4em;
  }

  .bottom-xs-offset-2 {
    margin-bottom: 1.4em;
  }

  .top-xs-offset-3 {
    margin-top: 2.1em;
  }

  .bottom-xs-offset-3 {
    margin-bottom: 2.1em;
  }

  .top-xs-offset-4 {
    margin-top: 2.8em;
  }

  .bottom-xs-offset-4 {
    margin-bottom: 2.8em;
  }

  .top-xs-offset-5 {
    margin-top: 3.5em;
  }

  .bottom-xs-offset-5 {
    margin-bottom: 3.5em;
  }

  .top-xs-offset-6 {
    margin-top: 4.2em;
  }

  .bottom-xs-offset-6 {
    margin-bottom: 4.2em;
  }

  .top-xs-offset-7 {
    margin-top: 4.9em;
  }

  .bottom-xs-offset-7 {
    margin-bottom: 4.9em;
  }

  .top-xs-offset-8 {
    margin-top: 5.6em;
  }

  .bottom-xs-offset-8 {
    margin-bottom: 5.6em;
  }

  .top-xs-offset-9 {
    margin-top: 6.3em;
  }

  .bottom-xs-offset-9 {
    margin-bottom: 6.3em;
  }

  .top-xs-offset-10 {
    margin-top: 7em;
  }

  .bottom-xs-offset-10 {
    margin-bottom: 7em;
  }

  .top-xs-offset-11 {
    margin-top: 7.7em;
  }

  .bottom-xs-offset-11 {
    margin-bottom: 7.7em;
  }

  .top-xs-offset-12 {
    margin-top: 8.4em;
  }

  .bottom-xs-offset-12 {
    margin-bottom: 8.4em;
  }

  /* sm */
  .top-sm-offset-0 {
    margin-top: 0em;
  }

  .bottom-sm-offset-0 {
    margin-bottom: 0em;
  }

  .top-sm-offset-1 {
    margin-top: 0.7em;
  }

  .bottom-sm-offset-1 {
    margin-bottom: 0.7em;
  }

  .top-sm-offset-2 {
    margin-top: 1.4em;
  }

  .bottom-sm-offset-2 {
    margin-bottom: 1.4em;
  }

  .top-sm-offset-3 {
    margin-top: 2.1em;
  }

  .bottom-sm-offset-3 {
    margin-bottom: 2.1em;
  }

  .top-sm-offset-4 {
    margin-top: 2.8em;
  }

  .bottom-sm-offset-4 {
    margin-bottom: 2.8em;
  }

  .top-sm-offset-5 {
    margin-top: 3.5em;
  }

  .bottom-sm-offset-5 {
    margin-bottom: 3.5em;
  }

  .top-sm-offset-6 {
    margin-top: 4.2em;
  }

  .bottom-sm-offset-6 {
    margin-bottom: 4.2em;
  }

  .top-sm-offset-7 {
    margin-top: 4.9em;
  }

  .bottom-sm-offset-7 {
    margin-bottom: 4.9em;
  }

  .top-sm-offset-8 {
    margin-top: 5.6em;
  }

  .bottom-sm-offset-8 {
    margin-bottom: 5.6em;
  }

  .top-sm-offset-9 {
    margin-top: 6.3em;
  }

  .bottom-sm-offset-9 {
    margin-bottom: 6.3em;
  }

  .top-sm-offset-10 {
    margin-top: 7em;
  }

  .bottom-sm-offset-10 {
    margin-bottom: 7em;
  }

  .top-sm-offset-11 {
    margin-top: 7.7em;
  }

  .bottom-sm-offset-11 {
    margin-bottom: 7.7em;
  }

  .top-sm-offset-12 {
    margin-top: 8.4em;
  }

  .bottom-sm-offset-12 {
    margin-bottom: 8.4em;
  }

  /* md */
  .top-md-offset-0 {
    margin-top: 0em;
  }

  .bottom-md-offset-0 {
    margin-bottom: 0em;
  }

  .top-md-offset-1 {
    margin-top: 0.7em;
  }

  .bottom-md-offset-1 {
    margin-bottom: 0.7em;
  }

  .top-md-offset-2 {
    margin-top: 1.4em;
  }

  .bottom-md-offset-2 {
    margin-bottom: 1.4em;
  }

  .top-md-offset-3 {
    margin-top: 2.1em;
  }

  .bottom-md-offset-3 {
    margin-bottom: 2.1em;
  }

  .top-md-offset-4 {
    margin-top: 2.8em;
  }

  .bottom-md-offset-4 {
    margin-bottom: 2.8em;
  }

  .top-md-offset-5 {
    margin-top: 3.5em;
  }

  .bottom-md-offset-5 {
    margin-bottom: 3.5em;
  }

  .top-md-offset-6 {
    margin-top: 4.2em;
  }

  .bottom-md-offset-6 {
    margin-bottom: 4.2em;
  }

  .top-md-offset-7 {
    margin-top: 4.9em;
  }

  .bottom-md-offset-7 {
    margin-bottom: 4.9em;
  }

  .top-md-offset-8 {
    margin-top: 5.6em;
  }

  .bottom-md-offset-8 {
    margin-bottom: 5.6em;
  }

  .top-md-offset-9 {
    margin-top: 6.3em;
  }

  .bottom-md-offset-9 {
    margin-bottom: 6.3em;
  }

  .top-md-offset-10 {
    margin-top: 7em;
  }

  .bottom-md-offset-10 {
    margin-bottom: 7em;
  }

  .top-md-offset-11 {
    margin-top: 7.7em;
  }

  .bottom-md-offset-11 {
    margin-bottom: 7.7em;
  }

  .top-md-offset-12 {
    margin-top: 8.4em;
  }

  .bottom-md-offset-12 {
    margin-bottom: 8.4em;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* xs */
  .top-xs-offset-0 {
    margin-top: 0em;
  }

  .bottom-xs-offset-0 {
    margin-bottom: 0em;
  }

  .top-xs-offset-1 {
    margin-top: 1em;
  }

  .bottom-xs-offset-1 {
    margin-bottom: 1em;
  }

  .top-xs-offset-2 {
    margin-top: 2em;
  }

  .bottom-xs-offset-2 {
    margin-bottom: 2em;
  }

  .top-xs-offset-3 {
    margin-top: 3em;
  }

  .bottom-xs-offset-3 {
    margin-bottom: 3em;
  }

  .top-xs-offset-4 {
    margin-top: 4em;
  }

  .bottom-xs-offset-4 {
    margin-bottom: 4em;
  }

  .top-xs-offset-5 {
    margin-top: 5em;
  }

  .bottom-xs-offset-5 {
    margin-bottom: 5em;
  }

  .top-xs-offset-6 {
    margin-top: 6em;
  }

  .bottom-xs-offset-6 {
    margin-bottom: 6em;
  }

  .top-xs-offset-7 {
    margin-top: 7em;
  }

  .bottom-xs-offset-7 {
    margin-bottom: 7em;
  }

  .top-xs-offset-8 {
    margin-top: 8em;
  }

  .bottom-xs-offset-8 {
    margin-bottom: 8em;
  }

  .top-xs-offset-9 {
    margin-top: 9em;
  }

  .bottom-xs-offset-9 {
    margin-bottom: 9em;
  }

  .top-xs-offset-10 {
    margin-top: 10em;
  }

  .bottom-xs-offset-10 {
    margin-bottom: 10em;
  }

  .top-xs-offset-11 {
    margin-top: 11em;
  }

  .bottom-xs-offset-11 {
    margin-bottom: 11em;
  }

  .top-xs-offset-12 {
    margin-top: 12em;
  }

  .bottom-xs-offset-12 {
    margin-bottom: 12em;
  }

  /* sd */
  .top-sm-offset-0 {
    margin-top: 0em;
  }

  .bottom-sm-offset-0 {
    margin-bottom: 0em;
  }

  .top-sm-offset-1 {
    margin-top: 1em;
  }

  .bottom-sm-offset-1 {
    margin-bottom: 1em;
  }

  .top-sm-offset-2 {
    margin-top: 2em;
  }

  .bottom-sm-offset-2 {
    margin-bottom: 2em;
  }

  .top-sm-offset-3 {
    margin-top: 3em;
  }

  .bottom-sm-offset-3 {
    margin-bottom: 3em;
  }

  .top-sm-offset-4 {
    margin-top: 4em;
  }

  .bottom-sm-offset-4 {
    margin-bottom: 4em;
  }

  .top-sm-offset-5 {
    margin-top: 5em;
  }

  .bottom-sm-offset-5 {
    margin-bottom: 5em;
  }

  .top-sm-offset-6 {
    margin-top: 6em;
  }

  .bottom-sm-offset-6 {
    margin-bottom: 6em;
  }

  .top-sm-offset-7 {
    margin-top: 7em;
  }

  .bottom-sm-offset-7 {
    margin-bottom: 7em;
  }

  .top-sm-offset-8 {
    margin-top: 8em;
  }

  .bottom-sm-offset-8 {
    margin-bottom: 8em;
  }

  .top-sm-offset-9 {
    margin-top: 9em;
  }

  .bottom-sm-offset-9 {
    margin-bottom: 9em;
  }

  .top-sm-offset-10 {
    margin-top: 10em;
  }

  .bottom-sm-offset-10 {
    margin-bottom: 10em;
  }

  .top-sm-offset-11 {
    margin-top: 11em;
  }

  .bottom-sm-offset-11 {
    margin-bottom: 11em;
  }

  .top-sm-offset-12 {
    margin-top: 12em;
  }

  .bottom-sm-offset-12 {
    margin-bottom: 12em;
  }

  /* md */
  .top-md-offset-0 {
    margin-top: 0em;
  }

  .bottom-md-offset-0 {
    margin-bottom: 0em;
  }

  .top-md-offset-1 {
    margin-top: 1em;
  }

  .bottom-md-offset-1 {
    margin-bottom: 1em;
  }

  .top-md-offset-2 {
    margin-top: 2em;
  }

  .bottom-md-offset-2 {
    margin-bottom: 2em;
  }

  .top-md-offset-3 {
    margin-top: 3em;
  }

  .bottom-md-offset-3 {
    margin-bottom: 3em;
  }

  .top-md-offset-4 {
    margin-top: 4em;
  }

  .bottom-md-offset-4 {
    margin-bottom: 4em;
  }

  .top-md-offset-5 {
    margin-top: 5em;
  }

  .bottom-md-offset-5 {
    margin-bottom: 5em;
  }

  .top-md-offset-6 {
    margin-top: 6em;
  }

  .bottom-md-offset-6 {
    margin-bottom: 6em;
  }

  .top-md-offset-7 {
    margin-top: 7em;
  }

  .bottom-md-offset-7 {
    margin-bottom: 7em;
  }

  .top-md-offset-8 {
    margin-top: 8em;
  }

  .bottom-md-offset-8 {
    margin-bottom: 8em;
  }

  .top-md-offset-9 {
    margin-top: 9em;
  }

  .bottom-md-offset-9 {
    margin-bottom: 9em;
  }

  .top-md-offset-10 {
    margin-top: 10em;
  }

  .bottom-md-offset-10 {
    margin-bottom: 10em;
  }

  .top-md-offset-11 {
    margin-top: 11em;
  }

  .bottom-md-offset-11 {
    margin-bottom: 11em;
  }

  .top-md-offset-12 {
    margin-top: 12em;
  }

  .bottom-md-offset-12 {
    margin-bottom: 12em;
  }

  /* lg */
  .top-lg-offset-0 {
    margin-top: 0em;
  }

  .bottom-lg-offset-0 {
    margin-bottom: 0em;
  }

  .top-lg-offset-1 {
    margin-top: 1em;
  }

  .bottom-lg-offset-1 {
    margin-bottom: 1em;
  }

  .top-lg-offset-2 {
    margin-top: 2em;
  }

  .bottom-lg-offset-2 {
    margin-bottom: 2em;
  }

  .top-lg-offset-3 {
    margin-top: 3em;
  }

  .bottom-lg-offset-3 {
    margin-bottom: 3em;
  }

  .top-lg-offset-4 {
    margin-top: 4em;
  }

  .bottom-lg-offset-4 {
    margin-bottom: 4em;
  }

  .top-lg-offset-5 {
    margin-top: 5em;
  }

  .bottom-lg-offset-5 {
    margin-bottom: 5em;
  }

  .top-lg-offset-6 {
    margin-top: 6em;
  }

  .bottom-lg-offset-6 {
    margin-bottom: 6em;
  }

  .top-lg-offset-7 {
    margin-top: 7em;
  }

  .bottom-lg-offset-7 {
    margin-bottom: 7em;
  }

  .top-lg-offset-8 {
    margin-top: 8em;
  }

  .bottom-lg-offset-8 {
    margin-bottom: 8em;
  }

  .top-lg-offset-9 {
    margin-top: 9em;
  }

  .bottom-lg-offset-9 {
    margin-bottom: 9em;
  }

  .top-lg-offset-10 {
    margin-top: 10em;
  }

  .bottom-lg-offset-10 {
    margin-bottom: 10em;
  }

  .top-lg-offset-11 {
    margin-top: 11em;
  }

  .bottom-lg-offset-11 {
    margin-bottom: 11em;
  }

  .top-lg-offset-12 {
    margin-top: 12em;
  }

  .bottom-lg-offset-12 {
    margin-bottom: 12em;
  }
}
/* 
 * -----------------------------------------
 * Bootstrap extension
 * Add class for vertical alignment
 * -----------------------------------------
 */
.vertical-xs-parent {
  display: table;
  width: 100%;
}

.vertical-xs-row {
  display: table-row;
}

.vertical-xs-child-center {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.vertical-xs-child-bottom {
  display: table-cell;
  vertical-align: bottom;
  float: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .vertical-sm-parent {
    display: table;
    width: 100%;
  }

  .vertical-xs-row {
    display: table-row;
  }

  .vertical-sm-child-center {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }

  .vertical-sm-child-bottom {
    display: table-cell;
    vertical-align: bottom;
    float: none;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .vertical-md-parent {
    display: table;
    width: 100%;
  }

  .vertical-xs-row {
    display: table-row;
  }

  .vertical-md-child-center {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }

  .vertical-md-child-bottom {
    display: table-cell;
    vertical-align: bottom;
    float: none;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .vertical-lg-parent {
    display: table;
    width: 100%;
  }

  .vertical-xs-row {
    display: table-row;
  }

  .vertical-lg-child-center {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }

  .vertical-lg-child-bottom {
    display: table-cell;
    vertical-align: bottom;
    float: none;
  }
}
/* columns of same height styles */
.container-xs-height,
.container-sm-height,
.container-md-height,
.container-lg-height {
  display: table;
  padding-left: 0px;
  padding-right: 0px;
}

.row-xs-height {
  display: table;
  width: 100%;
}

.col-xs-height {
  display: table-cell;
  float: none !important;
}

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    width: 100%;
  }

  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .row-md-height {
    display: table;
    width: 100%;
  }

  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    width: 100%;
  }

  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}
/* 
 * -----------------------------------------
 * Margins
 * -----------------------------------------
 */
/* XS */
.margin-t-0,
.margin-xs-t-0 {
  margin-top: 0px;
}

.margin-r-0,
.margin-xs-r-0 {
  margin-right: 0px;
}

.margin-b-0,
.margin-xs-b-0 {
  margin-bottom: 0px;
}

.margin-l-0,
.margin-xs-l-0 {
  margin-left: 0px;
}

.margin-t-10,
.margin-xs-t-10 {
  margin-top: 10px;
}

.margin-r-10,
.margin-xs-r-10 {
  margin-right: 10px;
}

.margin-b-10,
.margin-xs-b-10 {
  margin-bottom: 10px;
}

.margin-l-10,
.margin-xs-l-10 {
  margin-left: 10px;
}

.margin-t-20,
.margin-xs-t-20 {
  margin-top: 20px;
}

.margin-r-20,
.margin-xs-r-20 {
  margin-right: 20px;
}

.margin-b-20,
.margin-xs-b-20 {
  margin-bottom: 20px;
}

.margin-l-20,
.margin-xs-l-20 {
  margin-left: 20px;
}

.margin-t-30,
.margin-xs-t-30 {
  margin-top: 30px;
}

.margin-r-30,
.margin-xs-r-30 {
  margin-right: 30px;
}

.margin-b-30,
.margin-xs-b-30 {
  margin-bottom: 30px;
}

.margin-l-30,
.margin-xs-l-30 {
  margin-left: 30px;
}

.margin-t-40,
.margin-xs-t-40 {
  margin-top: 40px;
}

.margin-r-40,
.margin-xs-r-40 {
  margin-right: 40px;
}

.margin-b-40,
.margin-xs-b-40 {
  margin-bottom: 40px;
}

.margin-l-40,
.margin-xs-l-40 {
  margin-left: 40px;
}

.margin-t-50,
.margin-xs-t-50 {
  margin-top: 50px;
}

.margin-r-50,
.margin-xs-r-50 {
  margin-right: 50px;
}

.margin-b-50,
.margin-xs-b-50 {
  margin-bottom: 50px;
}

.margin-l-50,
.margin-xs-l-50 {
  margin-left: 50px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .margin-sm-t-0 {
    margin-top: 0px;
  }

  .margin-sm-r-0 {
    margin-right: 0px;
  }

  .margin-sm-b-0 {
    margin-bottom: 0px;
  }

  .margin-sm-l-0 {
    margin-left: 0px;
  }

  .margin-sm-t-10 {
    margin-top: 10px;
  }

  .margin-sm-r-10 {
    margin-right: 10px;
  }

  .margin-sm-b-10 {
    margin-bottom: 10px;
  }

  .margin-sm-l-10 {
    margin-left: 10px;
  }

  .margin-sm-t-20 {
    margin-top: 20px;
  }

  .margin-sm-r-20 {
    margin-right: 20px;
  }

  .margin-sm-b-20 {
    margin-bottom: 20px;
  }

  .margin-sm-l-20 {
    margin-left: 20px;
  }

  .margin-sm-t-30 {
    margin-top: 30px;
  }

  .margin-sm-r-30 {
    margin-right: 30px;
  }

  .margin-sm-b-30 {
    margin-bottom: 30px;
  }

  .margin-sm-l-30 {
    margin-left: 30px;
  }

  .margin-sm-t-40 {
    margin-top: 40px;
  }

  .margin-sm-r-40 {
    margin-right: 40px;
  }

  .margin-sm-b-40 {
    margin-bottom: 40px;
  }

  .margin-sm-l-40 {
    margin-left: 40px;
  }

  .margin-sm-t-50 {
    margin-top: 50px;
  }

  .margin-sm-r-50 {
    margin-right: 50px;
  }

  .margin-sm-b-50 {
    margin-bottom: 50px;
  }

  .margin-sm-l-50 {
    margin-left: 50px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .margin-md-t-0 {
    margin-top: 0px;
  }

  .margin-md-r-0 {
    margin-right: 0px;
  }

  .margin-md-b-0 {
    margin-bottom: 0px;
  }

  .margin-md-l-0 {
    margin-left: 0px;
  }

  .margin-md-t-10 {
    margin-top: 10px;
  }

  .margin-md-r-10 {
    margin-right: 10px;
  }

  .margin-md-b-10 {
    margin-bottom: 10px;
  }

  .margin-md-l-10 {
    margin-left: 10px;
  }

  .margin-md-t-20 {
    margin-top: 20px;
  }

  .margin-md-r-20 {
    margin-right: 20px;
  }

  .margin-md-b-20 {
    margin-bottom: 20px;
  }

  .margin-md-l-20 {
    margin-left: 20px;
  }

  .margin-md-t-30 {
    margin-top: 30px;
  }

  .margin-md-r-30 {
    margin-right: 30px;
  }

  .margin-md-b-30 {
    margin-bottom: 30px;
  }

  .margin-md-l-30 {
    margin-left: 30px;
  }

  .margin-md-t-40 {
    margin-top: 40px;
  }

  .margin-md-r-40 {
    margin-right: 40px;
  }

  .margin-md-b-40 {
    margin-bottom: 40px;
  }

  .margin-md-l-40 {
    margin-left: 40px;
  }

  .margin-md-t-50 {
    margin-top: 50px;
  }

  .margin-md-r-50 {
    margin-right: 50px;
  }

  .margin-md-b-50 {
    margin-bottom: 50px;
  }

  .margin-md-l-50 {
    margin-left: 50px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .margin-lg-t-0 {
    margin-top: 0px;
  }

  .margin-lg-r-0 {
    margin-right: 0px;
  }

  .margin-lg-b-0 {
    margin-bottom: 0px;
  }

  .margin-lg-l-0 {
    margin-left: 0px;
  }

  .margin-lg-t-10 {
    margin-top: 10px;
  }

  .margin-lg-r-10 {
    margin-right: 10px;
  }

  .margin-lg-b-10 {
    margin-bottom: 10px;
  }

  .margin-lg-l-10 {
    margin-left: 10px;
  }

  .margin-lg-t-20 {
    margin-top: 20px;
  }

  .margin-lg-r-20 {
    margin-right: 20px;
  }

  .margin-lg-b-20 {
    margin-bottom: 20px;
  }

  .margin-lg-l-20 {
    margin-left: 20px;
  }

  .margin-lg-t-30 {
    margin-top: 30px;
  }

  .margin-lg-r-30 {
    margin-right: 30px;
  }

  .margin-lg-b-30 {
    margin-bottom: 30px;
  }

  .margin-lg-l-30 {
    margin-left: 30px;
  }

  .margin-lg-t-40 {
    margin-top: 40px;
  }

  .margin-lg-r-40 {
    margin-right: 40px;
  }

  .margin-lg-b-40 {
    margin-bottom: 40px;
  }

  .margin-lg-l-40 {
    margin-left: 40px;
  }

  .margin-lg-t-50 {
    margin-top: 50px;
  }

  .margin-lg-r-50 {
    margin-right: 50px;
  }

  .margin-lg-b-50 {
    margin-bottom: 50px;
  }

  .margin-lg-l-50 {
    margin-left: 50px;
  }
}
/* 
 * -----------------------------------------
 * Forms
 * -----------------------------------------
 */
/*bootstrap bug fix*/
.form-group-lg textarea.form-control {
  height: auto;
}

.form-editable .input-row {
  /*padding-top:5px;
  padding-bottom:5px;*/
}
.form-editable .input-row label {
  font-size: 16px;
}
.form-editable .button-row {
  /*padding-top:20px;*/
}

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Medium devices (desktops, 992px and up) */
/* 
 * -----------------------------------------
 * Iframes
 * -----------------------------------------
 */
.iframe {
  width: 100%;
  min-height: 250px;
  border: 0;
  overflow: hidden;
  margin: 0;
}

/* 
 * -----------------------------------------
 * No gutter for bootstrap row, usage:
 * <div class="row no-gutter"> 
 * -----------------------------------------
 */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* 
 * -----------------------------------------
 * Extra containers
 * -----------------------------------------
 */
@media (min-width: 768px) {
  .container-small {
    width: 300px;
  }

  .container-large {
    width: 970px;
  }
}
@media (min-width: 992px) {
  .container-small {
    width: 500px;
  }

  .container-large {
    width: 1170px;
  }
}
@media (min-width: 1200px) {
  .container-small {
    width: 700px;
  }

  .container-large {
    width: 1500px;
  }
}
.container-small, .container-large {
  max-width: 100%;
}
